#alert-container {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    width: 400px;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f5f5f5;
    padding: 5rem 30rem;
}

.container {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.finished {
    text-decoration: line-through;
}

h1 {
    text-align: center;
    margin-bottom: 1rem;
}

#todo-items {
    margin-bottom: 20px;
}

#todo-input {
    display: flex;
    gap: 10px;
    margin-bottom: 1rem;
}

#todo-text {
    flex-grow: 1;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#add-button,
#clear-button {
    font-size: 20px;
}

.todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    cursor: move;
}

.todo-item .actions {
    display: flex;
    gap: 5px;
}

.todo-item .actions button {
    font-size: 14px;
}

/* Add transitions to the todo items */
.todo-item {
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

/* Apply transformations to the dragged item */
.todo-item.dragging {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Apply opacity to the dragged item */
.todo-item.dragged {
    opacity: 0.5;
}

/* Apply fading effect to the other items */
.todo-item.fading {
    opacity: 0.5;
}

/* Add a transition to the todo container during sorting */
#todo-items.ui-sortable-helper {
    transition: transform 0.3s ease-in-out;
}

/* Apply a transform effect to the todo container during sorting */
#todo-items.ui-sortable-helper {
    transform: translateY(-10px);
}



@media screen and (max-width: 1300px) {
    body {
        padding: 5rem 20rem;
    }

    #todo-items {
        font-size: 1.5rem;
    }

    #todo-text {
        font-size: 1.5rem;
    }
    h1{
        font-size: 2.75rem;
    }
}


body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

body::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	background-color: #AAA;
	border-radius: 10px;
	background-image: -webkit-linear-gradient(90deg,
	                                          rgba(0, 0, 0, .2) 25%,
											  transparent 25%,
											  transparent 50%,
											  rgba(0, 0, 0, .2) 50%,
											  rgba(0, 0, 0, .2) 75%,
											  transparent 75%,
											  transparent)
}